<html>
<% include header %> 

<br>Create Bitcoin Brain Wallet </br>

<form method="post" action="/wallet">

<p><input type="text" name="brainsrc"> </p>
<input type="submit" value="Go"> <br>

</form>

</html>
