<head>
	<title><%= lastPrice %></title>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"></a>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.css" rel="stylesheet" crossorigin="anonymous"></a>
</head>
<h1>My Bitcoin Site </h1>
<div class="btn-group">
	<a href="/" class="btn btn-primary">Home</a>
	<a href="/brain" class="btn btn-primary">Brain Wallet</a>
	<a href="/converter" class="btn btn-primary">Converter</a>
</div>
<p>
